.Categories{
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;

  h1{
    color: plum;
    text-transform: uppercase;
  }
}